﻿@using System.Xml
@using System.Xml.Linq
@{
    ViewBag.Title = "CargarCurso";
    XDocument xmlDoc = ViewBag.Cursos;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Listado de cursos</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in xmlDoc.Descendants("Table"))
                    {
                        <tr>
                            <td>@item.Element("id").Value</td>
                            <td>@item.Element("Nombre").Value</td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr />
        </div>
    </div>
    <script>

        $(document).ready(function () {
        });
    </script>
</body>
</html>


