﻿@{
    ViewBag.Title = "CargarAlumnoCurso";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Listado de cursos</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre Alumno</th>
                        <th>Nombre Curso</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.TotalRegistros > 0)
                    {
                        foreach (var item in ViewBag.AlumnoCurso)
                        {
                            <tr>
                                <td>@item["Id"]</td>
                                <td>@item["NombreAlumno"]</td>
                                <td>@item["NombreCurso"]</td>
                                <td>@item["Nota"]</td>
                            </tr>
                        }
                    }       
                    else
                    {
                        <tr>
                            <td colspan="4">
                                <div class="alert alert-warning text-center">
                                    <h4>No hay registros disponibles</h4>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr />
        </div>
    </div>
    <script>

        $(document).ready(function () {
        });
    </script>
</body>
</html>

