﻿@{
    ViewBag.Titulo = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Listado de alumnos</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Sexo</th>
                        <th>Fecha Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Alumnos)
                    {
                    <tr>
                        <td>@item["id"]</td>
                        <td>@item["Nombre"]</td>
                        <td>@item["Apellido"]</td>
                        <td>@(item["Sexo"] == 1 ? "Hombre" : "Mujer")</td>
                        <td>@item["FechaNacimiento"]</td>
                        <td>
                            <button class="btn btn-info" onclick="AlumnoCurso(@item["id"]);">Cargar Alumnos y Cursos</button>
                        </td>
                    </tr>
                    }                    
                </tbody>
            </table>
            <hr />
            <table class="table">
                <tr>
                    <td>
                        <button class="btn btn-primary" onclick="Cursos();">Cargar Cursos</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>       
    <script>
        function Cursos() {
            window.location.href = '@Url.Content("~/WCF/CargarCurso")';
        }
        function AlumnoCurso(id) {
            window.location.href = '@Url.Content("~/WCF/CargarAlumnoCurso/")' + id;
        }
        $(document).ready(function () {
        });
    </script>
</body>
</html>
